@page "/account"
@inject Utilities.ILocalStorage LocalStorage
@inject HttpClient Http
@inject NavigationManager nav

@if (mainLayout.LoggedIn)
{
		<h3 class="my-4">Account</h3>
		<div class="alert alert-success" role="alert">Logged in as <b>@mainLayout.UserEmail (@mainLayout.UserName)</b></div>
		<a class="btn btn-primary" href="/account/tracking">Track Shipments</a>
		<a class="btn btn-primary" href="/account/password">Change Password</a>
		<button class="btn btn-danger" @onclick="mainLayout.Logout">Logout</button>
}
else
{
		<div class="alert alert-danger" role="alert">Please Login for access...</div>
		<button type="submit" class="btn btn-success" @onclick="mainLayout.OpenLogin">Login</button>
}
@code {
	[CascadingParameter]
	public MainLayout mainLayout { get; set; }


	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
	}
}